.list-item{
    width: 200px;
    height: 250px;
    margin: 0 8px 0 8px;
    margin-bottom: 250px;
}
.list-item > div{ margin-top: 10px; }
.item{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.title{ width: 10% }
.name{ margin-bottom: 10px; }
.book-title{
    font-size: 14px;
    font-weight: 2px;
}
.book-author{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}